<div id="rcap-designer">
    <div id="rcap-temptoolbar">
        <button class="btn" id="rcap-save">Save</button>
    </div>
    <div class="row">
        <div class="col-md-2 menu" id="main-menu">
            <h4 id="page-header">Pages <a href="#" title="Add page"></a></h4>
            <ul id="pages"></ul>
            <h4>Controls</h4>
            <ul class="controls"></ul>
        </div>
        <div class="col-md-10 stage">
            <div id="inner-stage">
                <div id="no-items" style="display:none">
                    <h2>This page is empty.</h2>
                    <p>Drag an item from the controls menu onto the page to get started</p>
                </div>
            </div>
        </div>
    </div>
</div>
