<div id="rcap-designer">
    <div class="row">
        <div class="col-md-2 menu">
            <h4>Pages</h4>
            <ul id="pages">
                <li><a href="#">Home <span class="page-settings" title="Modify page settings">Settings</span><span class="page-add" title="Add a child page">Add</span></a></li>
                <li><a href="#">KPI Pharm <span class="page-settings" title="Modify page settings">Settings</span><span class="page-add" title="Add a child page">Add</span></a></li>
                <li><a href="#">KPI Trials <span class="page-settings" title="Modify page settings">Settings</span><span class="page-add" title="Add a child page">Add</span></a></li>
                <li><a href="#" class="add-page" title="Add a page">Add Page</a></li>
            </ul>
            <h4>Controls</h4>
            <ul id="controls">
<!--                 <li><a href="#" class="control-rplot" title="Add an rPlot">rPlot</a></li>
                <li><a href="#" class="control-webplot" title="Add a Web Plot">webPlot</a></li>
                <li><a href="#" class="control-datepicker" title="Add a Date Picker">Date Picker</a></li>
                <li><a href="#" class="control-image" title="Add an image">Image</a></li>
                <li><a href="#" class="control-text" title="Add text">Text</a></li>
                <li><a href="#" class="control-dropdown" title="Add a dropdown">Dropdown</a></li>
                <li><a href="#" class="control-iframe" title="Add an iFrame">iFrame</a></li> -->
            </ul>
            <h4>Settings</h4>
            <ul id="settings">
                <li><a href="#" title="Modify site settings">Settings</a></li>
            </ul>
        </div>
        <div class="col-md-10 stage">
            <div id="inner-stage">
                <div class="grid-stack" data-gs-height="12">

                    <div class="grid-stack-item" data-gs-x="1" data-gs-y="1" data-gs-width="2" data-gs-height="2" data-gs-locked="true">
                        <div class="grid-stack-item-content"></div>
                    </div>
                    <div class="grid-stack-item" data-gs-x="1" data-gs-y="4" data-gs-width="2" data-gs-height="2" data-gs-locked="true">
                        <div class="grid-stack-item-content"></div>
                    </div>
  
                </div>
            </div>
        </div>
    </div>
</div>
