#dialog-form-builder {
    width: 1000px;
    background: #dedede;
    & .form-item {
        padding: 9px;
        margin-bottom: 5px;
        width: 605px;
        cursor: n-resize;
        position: relative;
        border: 1px solid $bgColor;
        background: $bgColor;
        color: $fg;

        & .form-item-hint {
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0);
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 12px;
            padding-left: 14px;
            display: none;

            & span {
                position: absolute;
                top: 2px;
                right: 20px;

                & i {
                    margin-right: 4px;
                }
            }
        }

        &:hover .form-item-hint {
            display: block;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    & .form-item .ui-remove {
        z-index: 90;
        right: 2px;
        top: 1px;
        position: absolute;
        cursor: default;
        display: none;
    }
    & .form-item .ui-remove::before {
        content: "\f00d";
        font: normal normal normal 16px FontAwesome;
    }
    & .dropped {
        border: 1px dotted #dedede;
        background: transparent;
    }
    & .dropped:hover {
        border-color: #bcbcbc;
    }
    & .dropped:hover .ui-remove {
        display: block;
    }
    & hr {
        margin-top: 9px !important;
        margin-bottom: 0!important;
        border-style: inset;
        box-sizing: border-box;
        width: 90%;
        margin-left: 0;
    }
    & h1,
    h2,
    h3,
    h4 {
        margin-top: 0;
    }
    & .selected {
        border-color: #000;
    }
    & .form-item:hover {
        border-color: #000;
    }
    & .form-item-placeholder {
        padding: 9px;
        background: #cdcdcd;
        border: 1px solid #cdcdcd;
        color: black;
        margin-bottom: 5px;
        width: 605px;
    }
    & .drop-zone {
        //min-height: 400px;
        background: #fff;
        padding: 5px;
        height: 100%;
    }
    & .tab-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        //min-height: 358px;
        height: calc(100% - 29px);
        background: white;

        & > .menu {
            height: auto;
        }
    }
    & #form-builder-configuration {
        padding: 10px;
        max-height: calc(100% - 29px);

        overflow: auto;
        &::-webkit-scrollbar-track {
            background-color: lighten($mainNavBackgroundColor, 75%);
        }
        &::-webkit-scrollbar {
            width: 10px;
            background-color: lightne($mainNavBackgroundColor, 75%);
        }
        &::-webkit-scrollbar-thumb {
            background-color: lighten($mainNavBackgroundColor, 55%);
        }

        & h4 {
            font-weight: 95%;
            font-weight: bold;
        }

        & .form-group-multioption {
            & label {
                display: inline;
            }
            & input[type="radio"] {
                margin-right: 10px;
            }
        }

    }
    & .tab-content::after {
        content: "";
        display: table;
        clear: both;
    }
    & .nav-tabs {
        margin-bottom: 0;
    }
    .nav-tabs > li.active > a {
        background-color: $bg!important;
    }
    .nav-tabs > li {
        font-size: 14px;
    }

    & [data-body-id="styling"] .row {
  //      background-color: white;
    }

    > .row { 
        height: 100%;
    }
}
