<div id="rcap-designer" style="display:none">
    <div id="rcap-message" style="display:none"></div>
    <div class="row" id="top-status-bar">
        <div id="rcap-navbar-header" class="navbar-header"><span id="rcap-version"></span></div>
        <div id="current-page-status">Page: <span id="current-page"></span></div>
        <div id="state-modified" title="There are unsaved changes.">
            <i class="icon-asterisk"></i>
        </div>
        <div id="rcap-toplevelbuttons">
            <button id="rcap-save" title="Save" type="button" class="btn btn-link navbar-btn" style=""><i class="icon-save"></i></button>
            <button id="rcap-view" title="Open in viewer" type="button" class="btn btn-link navbar-btn" style=""><i class="icon-share"></i></button>
            <button id="rcap-close" title="Close" type="button" class="btn btn-link navbar-btn" style=""><i class="icon-remove"></i></button>
        </div>
    </div>
    <div class="row" style="height: calc(100% - 50px)">
        <div class="menu" id="main-menu">
            <ul>
                <li><a href="javascript:void(0)" data-flyoutid="pages"><i class="icon-file"></i><span>Pages</span><span class="count" style="display:none"></span></a></li>
                <li><a href="javascript:void(0)" data-flyoutid="controls"><i class="icon-puzzle-piece"></i><span>Controls</span></a></li>
                <li><a href="javascript:void(0)" data-flyoutid="datasources"><i class="icon-hdd"></i><span>Data Sources</span><span class="count" style="display:none"></span></a></li>
                <li><a href="javascript:void(0)" data-flyoutid="timers"><i class="icon-time"></i><span>Timers</span><span class="count" style="display:none"></span></a></li>
                <li><a href="javascript:void(0)" data-messageid="editSiteSettings"><i class="icon-cog"></i><span>Settings</span></a></li>
                <li><a href="javascript:void(0)" data-messageid="editTheme"><i class="icon-adjust"></i><span>Style Editor</span></a></li>
            </ul>
            <!-- <div id="rcap-userplaceholder" /> -->
        </div>
        <div class="stage" id="rcap-stage">
            <div id="inner-stage">
                <div id="no-items" style="display:none">
                    <h2 id="empty-page-header">This page is empty</h2>
                    <p>Drag an item from the controls menu onto the page to get started</p>
                </div>
            </div>
        </div>
    </div>
    <!-- main-menu-panel -->
    <div class="menu-flyout" data-flyoutid="pages" style="display:none">
        <h4 id="page-header">Pages <a href="#" class="add" title="Add page"></a></h4>
        <a class="panel-close" href="#" title="close"><i class="icon-remove"></i></a>
        <ol id="pages"></ol>

        <div id="pages-tree"></div>

    </div>
    <div class="menu-flyout" data-flyoutid="controls" style="display:none">
        <h4>Controls</h4>
        <a class="panel-close" href="#" title="close"><i class="icon-remove"></i></a>
    </div>
    <div class="menu-flyout" data-flyoutid="datasources" style="display:none">
        <h4 id="datasource-header">Data Sources <a href="#" class="add" title="Add Data Source"></a></h4>
        <a class="panel-close" href="#" title="close"><i class="icon-remove"></i></a>
        <ul id="dataSources"></ul>
    </div>
    <div class="menu-flyout" data-flyoutid="timers" style="display:none">
        <h4 id="timer-header">Timers <a href="#" class="add" title="Add Data Source"></a></h4>
        <a class="panel-close" href="#" title="close"><i class="icon-remove"></i></a>
        <ul id="timers"></ul>
    </div>
    <div class="menu-flyout" data-flyoutid="settings" style="display:none">
        <h4>Settings</h4>
        <a class="panel-close" href="#" title="close"><i class="icon-remove"></i></a>
    </div>
</div>
<div id="rcap-preloader" style="display:none">
    <div class="loader">Loading...</div>
</div>
