/* att */
/* https://vt.vtp-media.com/ecp/documents/product_Product/521/Logos/4546/att_gdl_glance.pdf */
/*
$attNewOrange:                  #ff7200;
$attOrangeHighlight:            #fcb314;
$attBlue:                       #067ab4;
$attBlueHightlight:             #3aa5dc;

$attLime:                       #b6bf00;
$attLimeHighlight:              #dbd810;
$attGreen:                      #6ebb1f;
$attGreenHighlight:             #c4d82d;
$attBurgundy:                   #b30a3c;
$attBurgundyHighlight:          #da3872;
$attPurple:                     #81017e;
$attPurpleHighlight:            #b8509e;
$attDarkBlue:                   #0c2577;
$attDarkBlueHighlight:          #020bb3;
*/
#rcap-designer #inner-stage, #rcap-viewer #inner-stage {
  width: 1080px !important;
  font-family: arial !important;
  background: transparent url(attheader.png) top left no-repeat; }
#rcap-designer h2, #rcap-viewer h2 {
  color: white;
  background: #009fdb;
  padding: 10px;
  margin: 0; }
