/* att */
@import "../../styles/vars.scss";

#rcap-designer, #rcap-viewer {

    & #inner-stage {

        width: 1080px!important;
        font-family: arial!important;
        padding-top: 10px;

        background-color: transparent;
        background-image: 
                    url(attlogo.png)/*,
                    url(visitorinsights.png)*/;
                    
        background-repeat: no-repeat/*, no-repeat*/;
        background-position: 13px 20px/*, 105px 45px*/;

        & h2 {
            color: white;
            background: $attBlue;
            padding: 10px;
            margin: 0;
            font-size: 26px;

            background: linear-gradient(to right, $attBlue 0%, $attLightBlue 100%); 
            border-top-right-radius: 14px;
            border-bottom-right-radius: 14px;

            & a:link, a:visited, a:active, a:hover {
                color: white;
                text-decoration: none;
            }
        }

        .grid-stack {
          
        }

        form {
            font-size: 175%;

            & select {
                padding: 10px 15px;
                background: white;

                & option {
                    padding: 10px;
                }
            }

            & .form-group {
                margin-bottom: 0;
            }
        }

        .rcap-controltype-pagemenu {
            font-size: 125%;

            & a {
                color: $attOrange;
                background: $attWhite;

                &:hover, &.current {
                    //background: $attBlue;
                    background: linear-gradient(to right, $attBlue 0%, $attLightBlue 100%); 
                    color: $attWhite;
                }
            }

            & nav > div {
                border: 2px solid $attBlue;
            }
        }

        .rcap-controltype-breadcrumb {
            text-transform: uppercase;

            &.rcap-breadcrumb {
                border: 2px solid $attLightBlue;
            }

            & a {
                display: inline-block;
                background: linear-gradient(to right, $attBlue 0%, $attLightBlue 100%); 
                padding: 10px 20px;
                color: white;
                font-weight: bold;
                font-size: 15px;
                position: relative;
                margin-right: 0;
                z-index: 100;

                &:after {

                }

                &:hover {
                    text-decoration: none;
                }

                &:not(:first-child) {

                }
            }

            & .separator {
                display: none;
            }

            & span:not(.separator) {
                display: inline-block;
                background: white;
                font-weight: bold;
                font-size: 15px;
                padding: 10px 20px;
            }

        }

        .rcap-controltype-datatable {

            & th {
                padding: 8px 10px;
            }

        }
    }
}

#rcap-viewer {

}