<div class="jqmWindow" id="dialog-form-builder">
    <div class="header">
        <h3><i class="icon-cog"></i> Form settings</h3>
        <div class="top-level-tabs">
            <a href="javascript:void(0)" data-body-id="items"><i class="icon-ellipsis-vertical"></i> Items</a>
            <a href="javascript:void(0)" data-body-id="styling"><i class="icon-adjust"></i> Styling</a>
        </div>
    </div>
    <div class="body" data-body-id="items" data-maxheight="useavailable">
        <div class="col-md-4">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#form-builder-items" aria-controls="controls" role="tab" data-toggle="tab">Items</a></li>
                <li role="presentation"><a href="#form-builder-configuration" aria-controls="form-builder-configuration" role="tab" data-toggle="tab">Configuration</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active menu" id="form-builder-items">
                    <ul class="controls">
                        <!-- control list will be dynamically added in here -->
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="form-builder-configuration">
                    <div class="form-errors hidden">
                        <p>This form seems to be invalid</p>
                    </div>
                    <form id="formbuilder-form">
                        <div id="formbuilder-form-no-item">Add or select a control to configure its properties.</div>
                        <div class="js-rcap-dynamic"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="drop-zone"></div>
        </div>
    </div>
    <div class="body" style="display:none" data-body-id="styling" data-maxheight="useavailable">
        <div class="row">
            <div class="col-md-6">
                <form id="formbuilder-form-style">
                </form>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
    <div class="jqm-footer">
        <a href="javascript:void(0)" class="jqmClose">Cancel</a>
        <a href="javascript:void(0)" class="delete">Delete</a>
        <a href="javascript:void(0)" class="approve">Save</a>
    </div>
</div>
