<div class="jqmWindow" id="dialog-viewerDataDownload">
    <div class="header">
        <h3><i class="icon-cloud-download"></i> Download data</h3>
    </div>
    <div class="body" data-maxheight="useavailable">
        <div class="filelist">

        </div>
        <div class="overlay">
            <div class="downloading">
                <img src="/shared.R/rcloud.rcap/img/spinner.gif" class="spinner" /> Downloading
            </div>   
            <div class="error" style="display:none">
                An error occurred
            </div>        
        </div>
    </div>
    <div class="jqm-footer">
        <a href="javascript:void(0)" class="jqmClose">Close</a>
    </div>
</div>