.grid-stack-item-content {
    font-family: sans-serif;
    //background: white;
    color: #2c3e50;
    border: 1px dashed #888;
    cursor: move;

    &:hover {
        border-style: solid;
    }
}



.grid-stack-item-content .configure .form-group {
    //position: relative;
    //top: 50%;
    //transform: translateY(-50%);
}

.grid-stack-item-content .form-group {
    //transform: translateY(-50%);
    //top: 50%;
    //position: absolute;
}

.grid-stack-readonly .grid-stack-item-content {
    cursor: default;
}

.grid-stack-item .ui-remove {
    z-index: 90;
    width: 20px;
    height: 20px;
    right: 11px;
    top: 1px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
}

.grid-stack-item .ui-remove::before {
    content: "\f00d";
}

.grid-stack > .grid-stack-item > .ui-resizable-se,
.grid-stack > .grid-stack-item > .ui-resizable-sw,
.grid-stack > .grid-stack-item > .ui-remove {}

.grid-stack > .grid-stack-item > .ui-resizable-se,
.grid-stack > .grid-stack-item > .ui-resizable-sw,
.grid-stack > .grid-stack-item > .ui-remove {
    font-size: 16px;
    color: #555;
    background: rgba(255, 255, 255, 0.5);
}

.grid-stack {

    .invalid {}
    .invalid .configure {
        bottom: 0;
        //height: 85px;
        left: 0;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        text-align: center;
    }
    .valid .configure {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 9999;
        pointer-events: none;
    }
    .valid-overlay {
        z-index: 10000;
        background-color: transparent;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    // , .configure.valid
    .valid .configure iframe {
        height: 100%;
        width: 100%;
    }
    .btn-configure {
        display: block;
        margin: 0 auto;
        border: 3px solid;
        border-radius: 20px;
        height: 40px;
        width: 40px;
        padding: 0;
        -webkit-transition: -webkit-transform .5s ease-in-out;
        transition: transform .5s ease-in-out;
        outline: none;
        background: $attLightBlue;

        & i {
            font-size: 22px;
        }

        &:hover {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }
    .grid-stack-item-content p.configure-cog /*p:last-child */{
        position: absolute;
        pointer-events: all;
        top: 50%;
        z-index: 10002;
        width: 100%;
        padding: 4px 0;
        margin-top: -30px;
    }
    .grid-stack-item-content.valid .btn-configure {
        display: none;
    }
    .grid-stack-item-content.valid:hover {
        & .btn-configure {
            display: block;
        }
        & .valid-overlay {
            background-color: rgba(255, 255, 255, 0.7);
        }
    }

    .ql-viewer {
      padding: 0;
    }
}

.grid-stack[data-pageid='header'] {
    background-color: rgba(255, 255, 0, 0.3);
    margin-bottom: 10px;
}

.grid-stack[data-pageid='footer'] {
    background-color: rgba(255, 255, 0, 0.3);
    margin-top: 10px;
}

#rcap-viewer {
    .grid-stack-item-content {
        border: 0;
        overflow-x: auto;
        img {
            width: 100%;
            height: 100%;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
        .r {
            width: 100%;
            height: 100%;
        }
        .r img {
            width: 100%;
        }
        &.rcap-controltype-image/*,
        &.rcap-controltype-rplot*/ {
            cursor: zoom-in;
        }
    }
    #rcap-stretcher {
        position: fixed;
        z-index: 9999;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.99);
        overflow: hidden;
        top: 0;
        & .stretcher-close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            padding: 10px;
            background: white;
        }


        & .js-rcap-dynamic {
            @include cover();
            width: 90%;
            height: 90%;

            & img {
                @include cover();
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

body.rcap-stretched {
    overflow: hidden;
}
