@import "jqModal/jqModal.scss";
@import "jqModal/overrides.scss";
@import "gridstack/gridstack.scss";
@import "gridstack/overrides.scss";
@import "spectrum/spectrum.scss";
@import "wysiwyg.js/wysiwyg-editor.scss";
@import "parsleyjs/parsley.scss";
$bg: #fff;
$fg: rgb(62, 62, 62);
$defaultFontSize: 12px;
$bgColor: #F2F2F2;
$defaultFont: 'Open Sans',
sans-serif;
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
    $shadow: ();
    $from: $stroke*-1;
    @for $i from $from through $stroke {
        @for $j from $from through $stroke {
            $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
        }
    }
    @return $shadow;
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
    text-shadow: stroke($stroke, $color);
}

#rcap-preloader {
    width: 100%;
    height: 100%;
    z-index: 1500;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    & svg {
        margin-left: -32px;
        margin-top: -32px;
        left: 50%;
        top: 50%;
        position: absolute;
    }
}

#rcap-message {
    background-color: #E3D178;
    padding: 5px;
    text-align: left;
    color: black;
    font-weight: 400;
    left: 50%;
    margin-left: -200px;
    position: absolute;
    top: 12px;
    z-index: 1030;
    width: 400px;
}

#rcap-disclaimer {
    background-color: white;
    color: red;
    position: absolute;
    top: 7px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    padding: 10px;
    z-index: 10000;
    text-align: center;
    font-weight: bold;
}

#rcap-designer {
    & * {
        //font-family: $defaultFont;
    }
    background: $bg;
    color: $fg;
    font-family: $defaultFont;
    font-size: $defaultFontSize;
    height: 100vh;
    & .row {
        background-color: $bgColor;
    }
    & .menu {
        //text-transform: uppercase;
        padding: 0;
        margin: 0;
        height: 100%;
        //       overflow-y: auto;
        & h4 {
            padding-left: 5px;
            text-transform: uppercase;
            font-size: 14px;
        }
        & ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        & li {
            padding: 0;
            margin: 0;
        }
        & a:link,
        a:visited,
        a:hover,
        a:active {
            display: block;
            padding: 15px;
            color: $fg;
            font-family: $defaultFont;
            text-decoration: none;
        }
        & a:hover,
        & li.selected a {
            background-color: darken($bgColor, 5%);
        }
        & a span::after {
            display: block;
        }
        & h4#page-header a {
            padding: 0;
            float: right;
            margin-right: 12px;
            opacity: 0.5;
        }
        & h4#page-header a:hover {
            background-color: $bgColor;
            opacity: 1.0;
        }
        & h4#page-header a::before {
            font: normal normal normal 16px/1 FontAwesome;
            content: "\f067";
        }
        & ul#pages a::before,
        & ul.controls a::before,
        & ul.settings a::before {
            text-align: left;
            color: $fg;
            padding: 2px 8px 0 0;
            margin: 0;
            font: normal normal normal 10px/1 FontAwesome;
            font-size: 12pt;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        & ul#pages a::before {
            content: "\f0f6";
        }
        & ul#pages a.add-page::before {
            content: "\f055";
        }
        & ul#pages em {
            font-style: normal;
        }
        & ul.controls a.control-rplot::before {
            content: "\f012";
        }
        & ul.controls a.control-webplot::before {
            content: "\f080";
        }
        & ul.controls a.control-datepicker::before {
            content: "\f073";
        }
        & ul.controls a.control-separator::before {
            content: "\f141";
        }
        & ul.controls a.control-image::before {
            content: "\f03e";
        }
        & ul.controls a.control-text::before {
            content: "\f044";
        }
        & ul.controls a.control-dropdown::before {
            content: "\f039";
        }
        & ul.controls a.control-iframe::before {
            content: "\f0c2";
        }
        & ul.controls a.control-pagemenu::before {
            content: "\f0c9";
        }
        & ul.controls a.control-form::before {
            content: "\f022";
        }
        & ul.controls a.control-heading::before {
            content: "\f031";
        }
        & ul.controls a.control-checkboxlist::before {
            content: "\f00c";
        }
        & ul.controls a.control-radiobuttongroup::before {
            content: "\f10c";
        }
        & ul.settings a::before {
            content: "\f013";
        }
        & a span {
            display: block;
            float: right;
            text-indent: -9999px;
            opacity: 0.5;
            width: 20px;
            transition: opacity .25s ease-in-out;
            -moz-transition: opacity .25s ease-in-out;
            -webkit-transition: opacity .25s ease-in-out;
        }
        & a span::after {
            text-align: right;
            color: $fg;
            padding: 2px 3px 0 0;
            margin: 0;
            font: normal normal normal 10px/1 FontAwesome;
            font-size: 12pt;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            float: right;
            display: none;
        }
        & a span::after:hover {
            display: block;
        }
        & a span:hover {
            opacity: 1.0;
        }
        & a span.page-settings::after {
            content: "\f013";
        }
        & a span.page-add::after {
            content: "\f055";
        }
        & ul.controls a {
            cursor: move;
        }
        & ul.form-controls a {
            cursor: move;
        }
        & a span::after {
            display: block;
            text-align: right;
            color: #3e3e3e;
            padding: 2px 3px 0 0;
            margin: 0;
            font: normal normal normal 10px/1 FontAwesome;
            font-size: 12pt;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            float: right;
            content: "\f013";
            display: none;
        }
        & a:hover span::after {
            display: block;
        }
    }
    & .stage {
        padding: 10px 0;
        padding-right: 15px;
        height: calc(100% - 51px);
        overflow-y: auto;
        & #inner-stage {
            background: lighten($bgColor, 20%);
            padding: 10px 0;
            border: 1px solid darken($bgColor, 40%);
            position: relative;
        }
    }
    /* form controls */
    & .form-control {
        background: white;
        width: 100%;
        height: 34px;
    }
    & textarea {
        display: block;
        width: 100%;
    }
    & form .form-group:not(:first-child) {
        margin-top: 10px;
    }
    & .form-group label {
        font-size: 12pt;
    }
    & .form-group .description {
        color: #222;
        margin-top: 3px;
    }
    & .form-group textarea.code {
        font-family: Monaco, 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, monospace;
        height: 250px;
        font-size: 13px;
    }
    .configure {
        p {
            font-size: 115%;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        button {
            margin-top: 4px;
        }
    }
    i.config-icon {
        display: block;
        text-align: center;
        font-size: 30pt;
        margin-top: -24px;
        @include stroke(2, #fff);
    }
}

.parsley-errors-list {
    display: none;
}

.parsley-errors-list.filled {
    list-style-type: none;
    margin: 0 0 3px 0;
    padding: 5px;
    background: #F0523D;
    color: white;
    display: block;
}

li.parsley-required:before {
    content: "\f06a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 14px;
    padding-right: 6px;
    margin-left: 3px
}

#no-items {
    text-align: center;
    color: $fg;
    padding: 10px;
    margin: 0;
    font-size: 12pt;
    margin: 40 auto 0 auto;
    width: 400px;
    margin-left: -200px;
    left: 50%;
    position: absolute;
}

#no-items p:before {
    content: "\f064";
    color: $fg;
    margin: 25px 0 10px 0;
    font: normal normal normal 10px/1 FontAwesome;
    font-size: 40pt;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
}

.wysiwyg-toolbar,
.wysiwyg-popuphover {
    background: $bgColor;
    color: darken($bgColor, 50%);
}

a.wysiwyg-toolbar-icon {
    color: darken($bgColor, 50%);
}

a.wysiwyg-toolbar-icon:hover {
    text-decoration: none;
}

.wysiwyg-editor {
    background: white;
}

.wysiwyg-popup {
    background: rgba(255, 255, 255, 1.0);
}

.wysiwyg-plugin-list a {
    display: block;
    padding: 6px;
    text-decoration: none;
}

.wysiwyg-plugin-list a:hover {
    display: block;
    padding: 6px;
    color: HighlightText;
    background-color: Highlight;
}

.wysiwyg-browse {
    padding: 0;
}

@import "formBuilder.scss";
// SVG TEMP :)
.dt {
    svg.graph {
        width: 100%;
        height: 100%;
    }
    svg.graph .grid {
        stroke: black;
        stroke-dasharray: 1 2;
        stroke-width: 1;
    }
    svg.graph .points {
        stroke: white;
        stroke-width: 3;
    }
    svg.graph .first_set {
        fill: #00554d;
    }
    svg.graph .surfaces {
        fill-opacity: 0.5;
    }
    svg.graph .grid.double {
        stroke-opacity: 0.4;
    }
}


/*****************************************************************************************************/

// top banner
#top-banner {
    background-color: #222222;
    color: #eee;
    margin: 0 10px 10px 10px;
    padding: 10px;
}


/*****************************************************************************************************/
