$bg:                            #fff;
$fg:                            rgb(62, 62, 62);
$defaultFontSize:               12px;
$bgColor:                       #F2F2F2;
$defaultFont:                   'Open Sans',sans-serif;

$mainNavBackgroundColor:        #222;
$mainNavBackgroundColorHover:   lighten($mainNavBackgroundColor, 5%);
$mainNavCurrentPageHover:       #070707;
$mainNavColor:                  #efefef;
$noItemsColor:                  lighten($mainNavBackgroundColor, 30%);

$toolbarButtonColorHover:       #fff;
$toolbarButtonColor:            darken($toolbarButtonColorHover, 15%);

$messageInformationColor:       #3c763d;
$messageWarningColor:           #ddc033;
$messageErrorColor:             #a94442;                                                    

$topLevelButtonColor:           #c37e00;

/* https://vt.vtp-media.com/ecp/documents/product_Product/521/Logos/4546/att_gdl_glance.pdf */
/*
$attNewOrange:                  #ff7200;
$attOrangeHighlight:            #fcb314;
$attBlue:                       #067ab4;
$attBlueHightlight:             #3aa5dc;

$attLime:                       #b6bf00;
$attLimeHighlight:              #dbd810;
$attGreen:                      #6ebb1f;
$attGreenHighlight:             #c4d82d;
$attBurgundy:                   #b30a3c;
$attBurgundyHighlight:          #da3872;
$attPurple:                     #81017e;
$attPurpleHighlight:            #b8509e;
$attDarkBlue:                   #0c2577;
$attDarkBlueHighlight:          #020bb3;
*/

$attBlue:                       #009fdb;
$attBlack:                      #000000;    
$attWhite:                      #ffffff;
$attOrange:                     #ea7400;
$attLightBlue:                  #71c5e8;
$attDarkBlue:                   #0568ae;
$attLightGray:                  #d2d2d2;
$attGray:                       #959595;
$attDarkGray:                   #5a5a5a;
$attYellow:                     #ffb81c;
$attLightGreen:                 #b5bd00;
$attGreen:                      #4ca90c;
$attDarkGreen:                  #007a3e;
$attLightPurple:                #caa2dd;
$attPurple:                     #9063cd;
$attDarkPurple:                 #702f8a;

$attFunctionalLinkBlue:         #0568ae;
$attFunctionalDigitalTextBlue:  #191919;
$attFunctionalBackgroundGray:   #f2f2f2;
$attFunctionalRed:              #cf2a2a;
$attFunctionalYellow:           #ffb81c;
$attFunctionalGreen:            #007a3e;