//////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	RCAP Controls, View Mode
//

.select2-selection__choice {
    color: black;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 0;
}

////////////////////////////////////////////// page menu /////////////////////////////////////////////////
.rcap-pagemenu {
    margin: 0;
    padding: 0;
}

.rcap-pagemenu li {
    padding: 0;
    color: #369;
    list-style-type: none;
}

.rcap-pagemenu a {
    padding: 5px;
    display: block;
    text-decoration: none;
}

.rcap-pagemenu li.current {
    background-color: #369;
}

.rcap-pagemenu li.current a {
    color: white;
}

.rcap-pagemenu li:not(.current) a:hover {
	background-color: lighten(#369, 50%);
}

.rcap-pagemenu-horizontal li {
    float: left;
}

.rcap-pagemenu-hamburger {}
