<div class="jqmWindow" id="dialog-designerSettings">
    <div class="header">
        <h3>Designer settings</h3>
    </div>
    <div class="body">
        <div class="form-errors hidden">
            <p>This form seems to be invalid</p>
        </div>
        <form data-parsley-validate id="control-form">
                
        </form>
    </div>
    <div class="jqm-footer">
        <a href="javascript:void(0)" class="jqmClose">Cancel</a>
        <a href="javascript:void(0)" class="approve">Save</a>
    </div>
</div>  