<div class="jqmWindow" id="dialog-pageSettings">
    <div class="header">
        <h3>Page Settings</h3>
    </div>
    <div class="body">
        <form data-parsley-validate id="page-form">
            <div class="form-group">
                <label for="inputPageNavigationTitle">Navigation Title</label>
                <input type="text" class="form-control" id="inputPageNavigationTitle" placeholder="New Page" data-parsley-required data-parsley-pagenamevalidator>
                <div class="description">The name for this page, as it appears in the menu.</div>
            </div>
            
            <div class="form-group">
                <input type="checkbox" name="inputIsEnabled" id="inputIsEnabled" />
                <label for="inputIsEnabled">Is Enabled</label>
                <div class="description">
                    <p>Only enabled pages can be viewed by your website's visitors.</p>
                    <p>Disabling a page can be useful if you are working on a page but are not ready to show it.<p>
                    <p>If a page has descendant pages, all those pages will be updated with the same status.</p>
                </div>
            </div>
        </form>
    </div>
    <div class="jqm-footer">
        <a href="javascript:void(0)" class="jqmClose">Cancel</a>
        <a href="javascript:void(0)" class="delete">Delete</a>
        <a href="javascript:void(0)" class="approve">Save</a>
    </div>
</div>
