<div class="jqmWindow" id="dialog-rPlotSettings">
    <div class="header">
        <h3>rPlot Settings</h3>
    </div>
    <div class="body">
        <form>
            <div class="form-group">
                <label for="inputWidth">Width</label>
                <input type="number" class="form-control" id="inputWidth" placeholder="400">
            </div>
            <div class="form-group">
                <label for="inputHeight">Height</label>
                <input type="text" class="form-control" id="inputHeight" placeholder="400">
            </div>
            <div class="form-group">
                <label for="inputRCode">rCode</label>
                <textarea id="inputRCode" rows="15" />
            </div>
        </form>
    </div>
    <div class="jqm-footer">
        <a href="javascript:noop()" class="jqmClose">Cancel</a>
        <a href="javascript:noop()" class="delete jqmClose">Delete</a>
        <a href="javascript:noop()" class="jqmClose approve">Save</a>
    </div>
</div>
