<div class="jqmWindow" id="dialog-siteSettings">
    <div class="header">
        <h3>Site Settings</h3>
    </div>
    <div class="body">
        <form>
            <div class="form-group">
                <label for="selectTheme">Theme</label>
                <select id="selectThme">
                    <option>Default</option>
                    <option>AT&T Light Blue</option>
                    <option>AT&T Orange</option>
                </select>
                <div class="description">The visual theme for this page.</div>
            </div>
        </form>
        <!--    <a href="#" class="jqmClose">Close</a> -->
    </div>
    <div class="jqm-footer">
        <a href="javascript:noop()" class="jqmClose">Cancel</a>
        <a href="javascript:noop()" class="jqmClose approve">Save</a>
    </div>
</div>
