<div class="jqmWindow" id="dialog-styleSettings" style="height:100%">
    <div class="header">
        <h3><i class="icon-cog"></i> Style Editor</h3>
    </div>
    <div class="body" style="height:calc(100% - 111px)">
        <div id="rcap-style-editor"></div>
    </div>
    <div class="jqm-footer">
        <a href="javascript:void(0)" class="jqmClose">Cancel</a>
        <a href="javascript:void(0)" class="approve">Save</a>
    </div>
    <script>
        var editor = ace.edit("rcap-style-editor");
        editor.getSession().setMode("ace/mode/css");
        editor.setOptions({
            minLines: 100,
            maxLines: Infinity,
            autoScrollEditorIntoView: true
        });
    </script>
</div>