<div class="jqmWindow" id="dialog-timerSettings">
    <div class="header">
        <h3>Timer settings</h3>
    </div>
    <div class="body">
        <form data-parsley-validate id="timer-form">
            <div class="form-group">
                <label for="inputTimerFunction">Function</label>
                <input type="text" class="form-control" id="inputTimerFunction" placeholder="">                
                <div class="description">The timer function.</div>
            </div>
            <div class="form-group">
                <label for="inputTimerInterval">Interval</label>
                <input type="text" class="form-control" id="inputTimerInterval" data-parsley-validation-threshold="1" data-parsley-trigger="keyup" 
    data-parsley-type="digits" data-parsley-min="1" placeholder="">                
                <div class="description">The timer interval (seconds).</div>
            </div>
        </form>
    </div>
    <div class="jqm-footer">
        <a href="javascript:void(0)" class="jqmClose">Cancel</a>
        <a href="javascript:void(0)" class="delete">Delete</a>
        <a href="javascript:void(0)" class="approve">Save</a>
    </div>
</div>