.grid-stack-item-content {
    font-family: sans-serif;
    background: white;
    color: #2c3e50;
    border: 1px solid #ccc;
}

.grid-stack-item .ui-remove {
    z-index: 90;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 0;
    position: absolute;
}

.grid-stack-item .ui-remove::before {
    content: "\f00d";
}

.grid-stack > .grid-stack-item > .ui-resizable-se,
.grid-stack > .grid-stack-item > .ui-resizable-sw,
.grid-stack > .grid-stack-item > .ui-remove {}

.grid-stack > .grid-stack-item > .ui-resizable-se,
.grid-stack > .grid-stack-item > .ui-resizable-sw,
.grid-stack > .grid-stack-item > .ui-remove {
    background: none!important;
    font-size: 16px;
}

.grid-stack {
    .configure {
        bottom: 0;
        height: 60px;
        left: 0;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        text-align: center;
    }
}

.viewer {
    .grid-stack-item-content {
        border: 0!important;
        overflow-x: auto;
    }
}
